{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blogoroddyv2.css' %}">
{% endblock %}

<footer>
    <div class="container">
      <div class="row">
        <div class="col about">
          <h3>About the store</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Become a customer</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Return policy</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col language">
          <h3>Language</h3>
          <ul>
            <li><a href="#">Deutsch</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Español</a></li>
            <li><a href="#">Français</a></li>
            <li><a href="#">Indonesian</a></li>
            <li><a href="#">Italian</a></li>
            <li><a href="#">Nederlands</a></li>
            <li><a href="#">Polnisch</a></li>
            <li><a href="#">Português</a></li>
            <li><a href="#">pyccкий</a></li>
            <li><a href="#">Tiếng Việt</a></li>
            <li><a href="#">Türkçe</a></li>
          </ul>
        </div>
        <div class="col socail">
          <h3>Get in touch</h3>
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <ul>
          <li><a href="#">Terms of purchase</a></li>
          <li><a href="#">Security and privacy</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>
    </div>
  </footer>