<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-opacity-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Blog O Roddy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="/blog/" class="nav-link" aria-current="page">All Posts</a>
          </li>
          <li class="nav-item">
            <a href="/gallery/" class="nav-link" aria-current="page">Gallery</a>
          </li>
          <li class="nav-item">
            <a href="/blog/about/" class="nav-link" aria-current="page">About</a>
          </li>
        </ul>
        <form class="d-flex" action="{% url 'search' %}" method="get">
            <input class="form-control me-2" name="query"{% if search_query %} value="{{search_query}}" {% endif %} type="text" placeholder="Search" aria-label="Search">
            <input type="submit" value="Search" class="btn btn-outline-dark">
        </form>
      </div>
    </div>
  </nav>