{% load static wagtailimages_tags %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-opacity-20">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: #ffe074; font-size: 24px;">
        <img src="{% static 'images/sun_savage.png' %}" alt="The Savage Sun" width="24" height="23" class="d-inline-block align-text-top mt-1">
        JED
      </a>
      <button class="navbar-toggler navbar-dark bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse rounded" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 btn-group">
          <li class="nav-item bg-dark bg-opacity-25 p-1">
            <a href="/blog/" class="nav-link text-white" aria-current="page">All Posts</a>
          </li>
          <li class="nav-item bg-dark bg-opacity-25 p-1">
            <a href="/gallery/" class="nav-link text-white" aria-current="page">Gallery</a>
          </li>
          <li class="nav-item bg-dark bg-opacity-25 p-1">
            <a href="/about/" class="nav-link text-white" aria-current="page">About</a>
          </li>
        </ul>
        <form class="d-flex" action="{% url 'search' %}" method="get">
            <input class="form-control me-2" name="query"{% if search_query %} value="{{search_query}}" {% endif %} type="text" aria-label="Search">
            <input type="submit" value="Search" class="btn btn-outline-dark">
        </form>
      </div>
    </div>
  </nav>