@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@200;600&display=swap');

.background {
    background-image: url(./images/background.jpg);
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.title-font {
    font-family: 'Merriweather', serif;
    color: #ffe074;
}