@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Righteous&display=swap');

.home__heading-container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.home__heading {
  font-size: 4rem;
  font-weight: bold;
  color: #ffe074;
  font-family: 'Merriweather', serif;
  /* background: rgba(0, 0, 0, 0.75); */
  /* border-top: 20px solid #ffe074; */
  /* border-bottom: 20px solid #ffe074; */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  padding: 2px;
  margin: 20px 40px;
}

.card-container__header {
  width: 30%;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  color: #ffe074;
  border-radius: 10px;
}

.card {
  width: 30%;
  margin: 1%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background: rgb(205, 205, 205);
  color:#000000;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
  inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);  
  transition:transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  padding: 1%;
  border: 0px solid rgba(255, 255, 255, 0.0);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 40px 68px 0 #888181, inset 0 -4px 12px 0 #eae7e7;
}

.card-img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
}

.card-heading {
  position: absolute;
  background: rgba(50, 50, 50, 0.7);
  top: 10%;
  color: rgb(244, 244, 244);
  font-weight: bold;
  /* border: 5px groove black; */
  padding: 5px 10px;
  border-radius: 15px;
}

.card-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-subtitle {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.card-buttons {
  display: flex;
  margin-top: 5%;
}

.card-button {
  background: rgba(0, 0, 0, 0.903);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  border-radius: 10px;
  color: #ffe074;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s linear; 
  margin-right: 1%;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.card-button:hover {
  font-size: 1.1em;
  background: #ffe074;
  color: black;
}

.card-heading,
.card-subtitle {
  margin-bottom: 10px;
}






/* 
.background {
  background-image: url(./images/background.jpg);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.title-font {
  font-family: "Merriweather", serif;
  color: #ffe074;
}

.blog-background {
  background: rgb(253, 249, 217);
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
}



.about-box {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  font-family: "Merriweather", serif;
  color: rgb(104, 104, 104);
  border-radius: 5px;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
}


.blog-post-box {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
  width: 600px;
}


.blog-post-box:hover,
.blog-post-box:active {
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -20px -20px 18px 0 rgba(0, 0, 0, 0.3);
}

.gallery-header {
  margin-top: 100px;
  margin-left: 50px;
}

.gallery-section {
  padding: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.gallery-photo__container {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: 0.5vw;
}

.gallery-photo {
  width: 100%;
  height: auto;
} */



/* 
.gallery-photo-details {
  margin: 100px;
  z-index: -10;
}

.search-title {
  margin: 60px 0 20px 0;
}

.search-form {
  width: 70%;
}

.search-result-list {
  list-style-type: none;
}

.search-result-item {
  margin-top: 20px;
}

.search-no-result-item {
  margin-top: 20px;
}

@media screen and (max-width: 400px) {
  .about-box {
    top: 15%;
    left:5%;
    right: 5%;
    margin: 0 auto;
  }
  .blog-post-box {
    max-height: 100vh;
    width: 300px;
  }
  .blog-index-photo {
    display: none;
  }
  header div {
    margin: 0;
  }
  header {
    padding: 0;
  }
  .search-title {
    margin: 60px 0 0 0;
  }
  .search-form {
    margin: 20px 30px 0 30px;
    width: 90%;
  }
} */

