@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Righteous&display=swap');




/* HOME PAGE */




.home__heading-container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  margin: 5% auto;
}

.home__heading {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  color: #ffe074;
  font-family: 'Merriweather', serif;
}

.card-container__header {
  width: 40%;
  margin-left: 8%;
  text-align: left;
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  color: #ffe074;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px;
  margin: 3% 5%;
}

.card {
  width: 30%;
  margin: 1%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  color:#000000;
  background: rgb(205, 205, 205);
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
  inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);  
  transition:transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5%;
  overflow: hidden;
  border: 0px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 40px 68px 0 #888181, inset 0 -4px 12px 0 #eae7e7;
}

.card-img {
  width: 100%;
  margin-bottom: 5%;
  border-radius: ;
}

.card-heading {
  position: absolute;
  background: rgba(115, 115, 115, 0.7);
  top: 10%;
  color: #ffe074;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: 'Merriweather', serif;
}

.card-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  margin-top: 5%;
}

.card-button {
  background: rgba(115, 115, 115, 0.7);
  border-radius: 10px;
  color: #ffe074;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s linear; 
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.card-button:hover {
  font-size: 1.1em;
  background: #ffe074;
  color: black;
}

.card-date {
  position: absolute;
  color: rgba(120, 120, 120, 0.8);
  bottom: 5%;
  right: 5%;
  font-weight: light;
  font-size: 1rem;
  font-family: 'Merriweather', serif;

}




/* ABOUT PAGE */

.about-container {
  margin: 20% 10%;
  background: rgb(205, 205, 205);
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
  inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  font-family: 'Merriweather', serif;
}

.about-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2%;
  color: black;
  font-weight: bold;
}

.about-description {
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

.about-email {
  font-size: 1.1rem;
  text-align: center;
  margin: 2%;
  color: rgb(122, 120, 120);
}




/* BLOG INDEX PAGE */

.index__header-container {
  margin: 5%;
}

.index__header {
  width: 40%;
  margin-left: 8%;
  text-align: left;
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  color: #ffe074;
}

.index__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  margin: 3% 5%;
}

.index__post-link {
  text-decoration: none;
  width: 90%;
  margin: 1% auto;
}

.index__post {
  width: inherit;
  display: flex;
  flex-direction: row;
  background: rgb(205, 205, 205);
  color:#000000;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
  inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);  
  transition:transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  border: 0px;
  margin: 0 auto;
}

.index__post:hover {
  transform: translateX(5px);
  box-shadow: 0 40px 68px 0 #888181, inset 0 -4px 12px 0 #eae7e7;
}

.index__post-image {
  border-radius: 0 0 5px 5px;
}

.post-details {
  padding: 1%;
}

.post-heading {
  font-weight: bold;
}




/* GALLERY INDEX PAGE */

.gallery-header {
  margin-top: 100px;
  margin-left: 50px;
}

.gallery-section {
  padding: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-bottom: 10%;
}

.gallery-photo__container {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: 0.5vw;
  text-decoration: none;
}

.gallery-photo {
  width: 100%;
  height: auto;
}

/* 
.background {
  background-image: url(./images/background.jpg);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.title-font {
  font-family: "Merriweather", serif;
  color: #ffe074;
}

.blog-background {
  background: rgb(253, 249, 217);
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
}



.about-box {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  font-family: "Merriweather", serif;
  color: rgb(104, 104, 104);
  border-radius: 5px;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
}


.blog-post-box {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
  width: 600px;
}


.blog-post-box:hover,
.blog-post-box:active {
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -20px -20px 18px 0 rgba(0, 0, 0, 0.3);
} */

/* 
.search-title {
  margin: 60px 0 20px 0;
}

.search-form {
  width: 70%;
}

.search-result-list {
  list-style-type: none;
}

.search-result-item {
  margin-top: 20px;
}

.search-no-result-item {
  margin-top: 20px;
}

@media screen and (max-width: 400px) {
  .about-box {
    top: 15%;
    left:5%;
    right: 5%;
    margin: 0 auto;
  }
  .blog-post-box {
    max-height: 100vh;
    width: 300px;
  }
  .blog-index-photo {
    display: none;
  }
  header div {
    margin: 0;
  }
  header {
    padding: 0;
  }
  .search-title {
    margin: 60px 0 0 0;
  }
  .search-form {
    margin: 20px 30px 0 30px;
    width: 90%;
  }
} */

