@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Righteous&display=swap");

/* HOME PAGE */

.home__header-container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  margin: 5% auto;
}

.home__header {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  color: #ffe074;
  font-family: "Merriweather", serif;
}

.card-container__header {
  width: 40%;
  margin-left: 8%;
  text-align: left;
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
  color: #ffe074;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px;
  margin: 0 5% 10% 5%;
}

.card {
  width: 30%;
  margin: 1%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  color: #000000;
  background: rgb(205, 205, 205);
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5%;
  overflow: hidden;
  border: 0px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 40px 68px 0 #888181, inset 0 -4px 12px 0 #eae7e7;
}

.card-img {
  width: 100%;
  margin-bottom: 5%;
}

.card-heading {
  position: absolute;
  background: rgba(115, 115, 115, 0.7);
  top: 10%;
  color: #ffe074;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: "Merriweather", serif;
}

.card-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  margin-top: 5%;
}

.card-button {
  background: rgba(115, 115, 115, 0.7);
  border-radius: 10px;
  color: #ffe074;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s linear;
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.card-button:hover {
  font-size: 1.1em;
  background: #ffe074;
  color: black;
}

.card-date {
  position: absolute;
  color: rgba(120, 120, 120, 0.8);
  bottom: 5%;
  right: 5%;
  font-weight: light;
  font-size: 1rem;
  font-family: "Merriweather", serif;
}






/* ABOUT PAGE */

.about-container {
  margin: 18% 10%;
  background: rgb(205, 205, 205);
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  font-family: "Merriweather", serif;
}

.about-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2%;
  color: black;
  font-weight: bold;
}

.about-description {
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

.about-email {
  font-size: 1.1rem;
  text-align: center;
  margin: 2%;
  color: rgb(122, 120, 120);
}






/* BLOG INDEX PAGE */

.index__header-container {
  text-align: center;
  width: 60%;
  margin: 5% auto;
}

.index__header {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  color: #ffe074;
  font-family: "Merriweather", serif;
}

.index__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  margin: 1% 5% 10% 5%;
}

.index__post-link {
  text-decoration: none;
  width: 90%;
  margin: 1% auto;
}

.index__post {
  width: inherit;
  display: flex;
  flex-direction: row;
  background: rgba(205, 205, 205, 0.7);
  color: #000000;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  border: 0px;
  margin: 0 auto;
}

.index__post:hover {
  box-shadow: 0 40px 68px 0 #888181, inset 0 -4px 12px 0 #eae7e7;
}

.index__post-image {
  border-radius: 5px 0 0 5px;
}

.post-details__container {
  width: 100%;
}

.post-heading {
  color: #ffe074;
  font-weight: bold;
  position: absolute;
  left: 20%;
  padding: 5px;
  background: rgba(115, 115, 115, 0.7);
  margin-top: 2%;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
}

.post-date {
  text-align: right;
  padding: 5px 10px 0 0;
}

.post-description {
  margin: 5% 5% 1% 12%;
  /* border: 2px solid black; */
  font-family: monospace;
  font-size: 1.2rem;
}





/* BLOG PAGE */

.blog__header-container {
  text-align: center;
  width: 60%;
  margin: 5% auto;
}

.blog__header {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  color: #ffe074;
  font-family: "Merriweather", serif;
}

.blog__container {
  width: 90%;
  margin: 5% auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5% 10%;
}

.blog__photo-container {
  margin: 2% auto;
}

.stream__photo-container {
  margin: 2% 3%;
}

.block-content {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-family: monospace;
}






/* GALLERY INDEX PAGE */

.gallery__header-container {
  text-align: center;
  width: 60%;
  margin: 5% auto;
}

.gallery-header {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  color: #ffe074;
  font-family: "Merriweather", serif;
}

.gallery-section {
  padding: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-bottom: 10%;
}

.gallery-photo__container {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: 0.5vw;
  text-decoration: none;
}

.gallery-photo {
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.gallery-photo:hover {
  position: relative;
  top: 3%;
}





/* GALLERY PAGE */

.gallery-page__container {
  margin: 5% 3%;
  display: flex;
}

.gallery-page__container img {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}

