{% extends "base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} 

{% block content %}
<main class="home-page">
  <div class="home__heading-container">
    <h1 class="home__heading">{{ page.headline }}</h1>
  </div>
  <h4 class="card-container__header">Lastest Posts</h4>
  <div class="card-container">
    {% for blog in page.blogs %}
    <div class="card">
      {% image blog.specific.main_image fill-150x150 as photo %}
      <img src="{{ photo.url }}" alt="{{ photo.title }}" class="card-img" />
      <div class="card-details">
        <h2 class="card-heading">{{blog.specific.title}}</h2>
        <h5 class="card-date">{{blog.specific.date}}</h5>
        <div class="card-buttons">
          <a href="{% pageurl blog.specific %}" class="card-button">
            Read
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}
