{% extends "base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} 

{% block content %}
<main class="home-page">
  <div class="background"></div>
  <div class="p-5">
    <h1 class="mt-5 display-2 text-center title-font">{{page.headline}}</h1>
  </div>
  <div class="container mb-2">
    <div class="mx-5 justify-content-center">
      <div
        class="shadow-lg mb-3 p-3 bg-dark bg-opacity-50 text-light row justify-content-center rounded mx-auto"
      >
        <h4 class="display-5">Latest Blog Posts</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for blog in page.blogs %}
          <div class="col">
            <a
              href="{% pageurl blog.specific %}"
              class="text-decoration-none text-black"
            >
              <div class="card">
                {% image blog.specific.main_image fill-350x250 as photo %}
                <img
                  src="{{photo.url}}"
                  class="card-img-top"
                  alt="{{photo.title}}"
                  height="{{photo.height}}"
                />
                <div class="card-body">
                  <h5 class="card-title">{{blog.specific.title}}</h5>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
