{% extends 'base.html' %} 
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} 

{% block content %}
<main>
  <div class="index__header-container">
    <h3 class="index__header">All Posts</h3>
  </div>

  <div class="index__container">
    {% for post in page.blogs %}
    <a class="index__post-link" href="{% pageurl post.specific %}">
    <div class="index__post">
        {% image post.specific.main_image fill-150x150 as photo %}
        <img
          class="index__post-image"
          src="{{ photo.url }}"
          alt="{{ photo.title }}"
          width="{{ photo.width }}"
          height="{{photo.height}}"
        />
        <div class="post-details">
          <h2 class="post-heading">{{ post.specific.title }}</h2>
          <h5 class="post-date">{{ post.specific.date }}</h5>
          <p class="post-description">{{ post.specific.description }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

  <!-- <div class="container">
    <div>
      <h1 class="display-4 pt-5 mt-5 text-center">All Posts</h1>
    </div>
    {% for post in page.blogs %}
    <div class="container d-flex justify-content-center">
      <a href="{% pageurl post.specific %}" class="text-decoration-none text-black">
        <div class="card mb-3 p-1 blog-post-box">
          <div class="row g-0">
            <div class="col-md-4">
              {% image post.specific.main_image fill-150x150 as photo %}
              <img
              src="{{photo.url}}"
              class="img-fluid rounded blog-index-photo"
              alt="{{photo.title}}"
              width="{{photo.width}}"
              height="{{photo.height}}"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fw-bolder">{{post.specific}}</h5>
                <p class="card-text">{{post.specific.description}}</p>
                <p class="card-text">
                  <small class="text-muted">{{post.specific.date}}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div> -->
</main>
{% endblock content %}
