{% extends 'base.html' %} 
{% load static wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} 

{% block content %}
<main>
  <div class="blog-background"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4 text-center mt-5 py-5">{{page.title}}</h1>
        <div class="container-fluid">
          {% image page.main_image fill-800x400 as main_photo%}
          <div
            class="container-fluid d-flex justify-content-center flex-column"
          >
            <img
              class="img-fluid mb-0"
              src="{{main_photo.url}}"
              alt="{{main_photo.title}}"
            />
            <p class="d-flex mb-4 justify-content-end text-muted">
              <small>-{{page.main_image_excerpt}}</small>
            </p>
            <div class="font-monospace">
              {% for block in page.content %}
                {% if block.block_type == 'image' %}
                  <div class="image-container">
                    {{ block.value }}
                  </div>
                {% else %}
                  <section class="px-4 block-{{ block.block_type }}">
                    {% include_block block %}
                  </section>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
