{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<main>
<div class="blog-background"></div>
<div class="container">
    <h1 class="search-title h1">Search</h1>
    

        <form action="{% url 'search' %}" method="get" class="search-form d-flex">
            <input type="text" class="form-control me-2" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <input type="submit" value="Search" class="btn btn-outline-dark">
        </form>
        
        {% if search_results %}
        <ul class="search-result-list">
            {% for result in search_results %}
            <li>
                <p class="search-result-item"><a class="text-decoration-none bg-dark rounded text-white p-2" href="{% pageurl result %}">{{ result }}</a></p>
                {% if result.search_description %}
                {{ result.search_description }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        
        {% if search_results.has_previous %}
        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}
        
        {% if search_results.has_next %}
        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
        {% elif search_query %}
        <p class="search-no-result-item"> No results found</p>
        {% endif %}
    </div>
    </main>
    {% endblock %}
    