{% extends 'base.html' %} 
{% load static wagtailcore_tags wagtailimages_tags %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<main>
  <div class="blog-background"></div>
  <section class="gallery-photo-details">
    <div class="d-flex justify-content-center">

      <div>
        {% image page.gallery_photo max-400x1200 as photo %}
        <img class="p-2" src="{{photo.url}}" alt="{{photo.title}}" width="{{photo.width}}" height="{{photo.height}}">
      </div>
    </div>
  </section>
</main>

{% endblock %}
